@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F0F2F5;
    font-family: 'Inter', sans-serif;
  }
  
  html {
    background-color: #F0F2F5;
  }
}

@layer components {
    .input-style {
        @apply bg-gray-100 border-none rounded-md px-4 py-2 my-2 w-full text-sm outline-none;
    }

    .btn-primary {
        @apply bg-indigo-700 text-white px-6 py-2 rounded-md text-sm font-semibold hover:bg-indigo-800 transition;
    }

    .btn-outline {
        @apply bg-transparent border border-white px-6 py-2 rounded-md text-sm font-semibold hover:bg-white hover:text-indigo-700 transition;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}